h2 {
  font-weight: bold;
  color: var(--cor-textoSecundaria);
  background-color: var(--cor-primaria);
  padding: 20px 16px;
}

.container-dashboard {
    background-color: var(--cor-primaria);

  width: 100%;

}

.page-container {
  display: flex;
  width: 100%;

  
  
}

.sidebar {
background-color: #f4f4f4;
padding: 30px;
width: 30%;
}

.sidebar-content {
  text-align: center;
  
}


.img-usuario{
    width: 105px;
    height: 95px;
    margin-bottom: 20px !important;
}


